.regaForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: 'flex';
}
.regaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inputForm {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submitForm {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}


.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 {
  background-color: 'https://superwalls.top/uploads/posts/2022-03/1648553377_2-gamerwall-pro-p-sirenevii-fon-s-uzorami-krasivie-3.jpg';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 200px;
}
.container {
  background-color: 'https://superwalls.top/uploads/posts/2022-03/1648553377_2-gamerwall-pro-p-sirenevii-fon-s-uzorami-krasivie-3.jpg';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


.helloScore {
  display: flex;
  justify-content: center;

}
